{% extends "base.html" %}

{% block specifika %}
    <div class="container">
        {% if logiran %}
            <div class="pozdrav">
                <div class="panel panel-default">
                    <div class="panel-body"><h1>Dobrodosli {{ user_nickname }}!</h1></div>
                </div>
                <a class="col-sm-4 gumb1" href="/poslji_sporocilo/">Poslji<br>Sporocilo<br><span class="glyphicon glyphicon-share"></span></a>
                <a class="col-sm-4 gumb1" href="/prejeta_sporocila/"><span class="badge" style="font-size: 18;">{{ st_prejetih }}</span> Prejeta<br>Sporocila<br><span class="glyphicon glyphicon-import"></span></a>
                <a class="col-sm-4 gumb1" href="/poslana_sporocila/"><span class="badge" style="font-size: 18;">{{ st_poslanih }}</span> Poslana<br>Sporocila<br><span class="glyphicon glyphicon-export"></span></a>
                <a class="col-sm-offset-2 col-sm-4 gumb1" href="/vreme/"><br>Vreme<br><span class="glyphicon glyphicon-cloud"></span></a>
                <a class="col-sm-4 gumb1" href="{{ logout_url }}"><br>Odjava<br><span class="glyphicon glyphicon-log-out"></span></a>
            </div>
        {% else %}
            <div class="pozdrav">
                <h1>Pozdravljeni v Tmail aplikaciji!</h1>
                <h2 style="margin-bottom: 20; font-size: 25;">Prijavite se z Google racunom!</h2>
                <a class="col-sm-offset-4 col-sm-4 gumb1" href="{{ login_url }}"><br>Prijava<br><span class="glyphicon glyphicon-log-in"></span></a>
            </div>
        {% endif %}
    </div>
{% endblock specifika %}