{% extends "base.html" %}

{% block specifika %}
    <div class="container">
        <h3 class="col-sm-12" style="margin-bottom: 20;">Odgovori na sporocilo:</h3>
        <div class="col-sm-12 panel panel-default">
            <div class="panel-heading"><span class="podatki">Posiljatelj:</span> {{ sporocilo.posiljatelj }}</div>
            <div class="panel-body"> - {{ sporocilo.sporocilo }}</div>
        </div>
        <form method="post" action="/odgovori/{{ sporocilo.key.id() }}/" class="col-sm-12 form-poslji">
            <div class="form-group">
                <label class="control-label">Odgovor:</label>
                <div>
                    <textarea rows="3" class="form-control" name="sporocilo" required="required" placeholder="Vpisi sporocilo.."></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-share"></span> Poslji</button>
                    <a href="/prejeta_sporocila/" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Nazaj</a>
                </div>
            </div>
        </form>
        {% if rezultat == "uspesno" %}
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-ok"></span><strong> Uspesno!</strong> Odgovor je bil uspesno poslan.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock specifika %}