{% extends "base.html" %}

{% block specifika %}
    <div class="container">
        <h3>Podatki o sporocilu</h3>

         <ul class="list-group">
             <li class="list-group-item">Posiljatelj: {{ sporocilo.posiljatelj }}</li>
             <li class="list-group-item">Prejemnik: {{ sporocilo.prejemnik }}</li>
             <li class="list-group-item">Datum in cas objave: {{ sporocilo.datum }}</li>
             <li class="list-group-item">Sporocilo: {{ sporocilo.sporocilo }}</li>
        </ul>

        {% if sporocilo.prejemnik == user.email() %}
            <a class="btn btn-default" href="/odgovori/{{ sporocilo.key.id() }}/"><span class="glyphicon glyphicon-export"></span> Odgovori</a>
            <a onclick="goBack()" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Nazaj</a>
        {% elif sporocilo.posiljatelj == user.email() %}
            <a class="btn btn-default" href="/uredi/{{ sporocilo.key.id() }}/"><span class="glyphicon glyphicon-edit"></span> Uredi</a>
            <a onclick="goBack()" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Nazaj</a>
        {% endif %}
        <script>
        function goBack() {
            window.history.back();
        }
        </script>
    </div>
{% endblock specifika %}