{% extends "base.html" %}

{% block specifika %}
    <div class="container">
        <h3>Sporocilo:</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><span class="podatki">Posiljatelj:</span> {{ sporocilo.posiljatelj }}</p>
                <p><span class="podatki">Prejemnik:</span> {{ sporocilo.prejemnik }}</p>
                <p><span class="podatki">Datum in cas objave:</span> {{ sporocilo.datum }}</p>
            </div>
            <div class="panel-body">
                <p><span class="podatki">Sporocilo:</span> {{ sporocilo.sporocilo }}</p>
            </div>
        </div>

        {% if sporocilo.prejemnik == user.email() %}
            <a class="btn btn-default" href="/odgovori/{{ sporocilo.key.id() }}/"><span class="glyphicon glyphicon-export"></span> Odgovori</a>
            <a onclick="goBack()" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Nazaj</a>
        {% elif sporocilo.posiljatelj == user.email() %}
            <a class="btn btn-default" href="/uredi/{{ sporocilo.key.id() }}/"><span class="glyphicon glyphicon-edit"></span> Uredi</a>
            <a onclick="goBack()" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Nazaj</a>
        {% endif %}
        <script>
        function goBack() {
            window.history.back();
        }
        </script>
    </div>
{% endblock specifika %}