{% extends "base.html" %}

{% block specifika %}
    <div class="container">
        <div class="row">
            <h3>Seznam prejetih sporocil:</h3>
            <a href="/" class="btn btn-primary" style="float: right; margin-top: -40;">Domov</a>
            {% if seznam %}
                <table class="table">
                    <thead>
                      <tr>
                        <th>Posiljatelj</th>
                        <th>Prejemnik</th>
                        <th>Sporocilo</th>
                        <th>Cas objave</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for sporocilo in seznam %}
                            <tr>
                                <td>{{ sporocilo.posiljatelj }}</td>
                                <td>{{ sporocilo.prejemnik }}</td>
                                <td><a href="/sporocilo/{{ sporocilo.key.id() }}/">{{ sporocilo.sporocilo[0:15] + "..." }}</a></td>
                                <td>{{ sporocilo.datum }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="height: 45;"></div>
            {% else %}
                <p>Ni novih sporocil</p>
            {% endif %}
        </div>
    </div>
{% endblock specifika %}