{% extends "base.html" %}

{% block specifika %}
    <div class="container">
        <h3 class="col-sm-12" style="margin-bottom: 20;">Uredi sporocilo:</h3>
        <form method="post" action="/uredi/{{ sporocilo.key.id() }}/" class=" col-sm-12 form-poslji">
            <div class="col-sm-12 well">
                <h5><span class="podatki">Posiljatelj:</span> {{ sporocilo.posiljatelj }}</h5>
                <h5><span class="podatki">Prejemnik:</span> {{ sporocilo.prejemnik }}</h5>
            </div>
            <div class="form-group">
                <label class="control-label">Sporocilo:</label>
                <div>
                    <textarea rows="3" class="form-control" name="sporocilo">{{ sporocilo.sporocilo }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Uredi</button>
                    <a href="/poslana_sporocila/" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Nazaj</a>
                </div>
            </div>
        </form>
        {% if rezultat == "uspesno" %}
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-ok"></span><strong> Uspesno!</strong> Sporocilo je bilo uspesno urejeno.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock specifika %}